!
! Base Config for {{ item.key }}
!
{% if item.value.cvp == 'stage' %}
daemon TerminAttr
   exec /usr/bin/TerminAttr -cvaddr=apiserver.cv-staging.corp.arista.io:443 -cvcompression=gzip -cvvrf=management -taillogs -cvauth=token-secure,/mnt/flash/cv-onboarding-token -disableaaa -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent
   no shutdown
!
{% elif item.value.cvp == 'prod' %}
daemon TerminAttr
   exec /usr/bin/TerminAttr -cvaddr=apiserver.arista.io:443 -cvcompression=gzip -cvvrf=management -taillogs -cvauth=token-secure,/mnt/flash/cv-onboarding-token -disableaaa -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent
   no shutdown
!
{% endif %}
hostname {{ item.key }}
!
vrf instance management
!
interface Management1
   description OOB Management Interface
   vrf management
   ip address {{ item.value.mgmt_ip }}/{{ item.value.mgmt_mask }}
   no lldp transmit
   no lldp receive
!
ip route vrf management 0.0.0.0/0 {{ item.value.mgmt_gateway }}
!
ip routing vrf management
!
management api http-commands
   no shutdown
   !
   vrf management
      no shutdown