!
! Base Config for {{ item.key }}
!
{% if item.value.cvp == 'stage' %}
daemon TerminAttr
   exec /usr/bin/TerminAttr -cvaddr=apiserver.cv-staging.corp.arista.io:443 -cvcompression=gzip -cvvrf=management -taillogs -cvauth=token-secure,/mnt/flash/cv-onboarding-token -disableaaa -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent
   no shutdown
!
{% elif item.value.cvp == 'prod' %}
daemon TerminAttr
   exec /usr/bin/TerminAttr -cvaddr=apiserver.arista.io:443 -cvcompression=gzip -cvvrf=management -taillogs -cvauth=token-secure,/mnt/flash/cv-onboarding-token -disableaaa -smashexcludes=ale,flexCounter,hardware,kni,pulse,strata -ingestexclude=/Sysdb/cell/1/agent,/Sysdb/cell/2/agent
   no shutdown
!
{% endif %}
aaa root secret sha512 $6$lNQBozz2B8Ls7M9.$Qb4f5KI6IUSHELalOL/n4igTYDyq5OM0wKnY.aJbBJjX/rS65Y9.40Bj7rc7nASZaOD9YfBaMjKZQJzfId3C91
!
username admin privilege 15 role network-admin secret sha512 $6$Nck9evzfm5e9C0Vg$bZ/XSXJ/.ZqJ6NQkPXV3s48IdFB7QS5vzSOYTbmwtenuUKQcFlWgP0lE.uWPPGVMJVA/2Yo8eiRax5mxh7Q0y1
username dcapetz privilege 15 role network-admin secret sha512 $6$MmPwehEOaBQNSZCO$eAg4JPnxxyqKVqVNYak76EoYiCjaJAFQVQSFVXqTzBKcA57ZbYpJt/1lIFtVwGOpnD4/OgSHMxfmyWIhbq7bB/
username dcapetz ssh-key ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDZ148VUrWGE12gbl/yuMn2tCKwaJTmayGqEZGseVCtWO54gB0J2vt/m75xY5dmHquZvLQVfgp7JfV/FUa+Ao+QhHFFxdq7Br+T8PBE8u64Mr97MWpUT3Kc79lL48MvJfNH/adQ8sRK2LkLDp2Lgfc8XQNsA28NkOOh0EV4iSWVCv9K0m19Hihp6cjfvAb8Jt9y5NvtZiJvsBmv+A6DJ5okEsmQ3qVgmEzJ2xWHigYwZOmJsW5XcS0+cqVVT28J/rE4d6QPds6kSx9gkp3/RJxxH9lwhzDQFoOmfMlz5TixG7a4cnvvxETmEfw+QKYcKcIbCZdTi8/1+FLLQ2SOVQlVFsbzRcfUa3Z+FfYk358H6AYQ5fY2R7pYHC8jIOjVyp4Q0KcCo29NzZ07eXr6Z0hmaB7cXTP2devB6VqPxnhLeBXIPgLs8JU/yJd7aneYEonn5vSnEBiC3E61l8Dx3pz0WBYsZHNfL+A/stCBdJRl35XAoGqnEfU73eaZiXx46CU= dcapetz@dcapetz
!
aaa authorization exec default local
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ item.key }}
!
ip domain lookup vrf management source-interface Management1
ip name-server vrf management 1.1.1.1
!
ntp local-interface vrf management Management1
ntp server vrf management 0.pool.ntp.org iburst
!
spanning-tree mode rapid-pvst
!
clock timezone US/Central
!
vrf instance management
!
management api http-commands
   no shutdown
   !
   vrf management
      no shutdown
!
interface Management1
   vrf management
   ip address {{ item.value.mgmt_ip }}/{{ item.value.mgmt_mask }}
!
ip routing
ip routing vrf management
!
ip route vrf management 0.0.0.0/0 {{ item.value.mgmt_gateway }}
!
interface Management1
   no lldp transmit
   no lldp receive
!
!
!
!
!
!platform tfa personality arfa
!
mpls ip
!
vrf instance DATA
ip routing vrf DATA
!
interface Loopback200
   description VRF Interface for Advertisements
   vrf DATA
   ip address 123.123.123.{{ item.value.octet }}/32
!
interface Loopback0
   description Management / Transport
   ip address 10.0.0.{{ item.value.octet }}/32
   isis enable 100
   isis passive
   node-segment ipv4 index {{ item.value.octet }}
!
router isis 100
   net 49.1111.0000.00{{ item.value.octet }}.00
   is-type level-2
   timers local-convergence-delay protected-prefixes
   advertise passive-only
   !
   address-family ipv4 unicast
      fast-reroute ti-lfa mode node-protection level-2
   !
   segment-routing mpls
      router-id 10.0.0.{{ item.value.octet }}
      no shutdown
!
interface Ethernet51/1
   description Transport interface
   no switchport
   ip address 10.X.Y.Z/31
   isis enable 100
   isis circuit-type level-2
   isis network point-to-point
!
router bgp 100
   router-id 10.0.0.{{ item.value.octet }}
   no bgp default ipv4-unicast
   maximum-paths 2
   rd auto
{% if item.value.rr == 'yes' %}
   neighbor RR-CLIENTS peer group
   neighbor RR-CLIENTS remote-as 100
   neighbor RR-CLIENTS update-source Loopback0
   neighbor RR-CLIENTS route-reflector-client
   neighbor RR-CLIENTS send-community standard extended
   neighbor 10.0.0.3 peer group RR-CLIENTS
   neighbor 10.0.0.4 peer group RR-CLIENTS
   neighbor 10.0.0.5 peer group RR-CLIENTS
   neighbor 10.0.0.6 peer group RR-CLIENTS
   neighbor 10.0.0.7 peer group RR-CLIENTS
   neighbor 10.0.0.8 peer group RR-CLIENTS
   neighbor 10.0.0.9 peer group RR-CLIENTS
   neighbor 10.0.0.10 peer group RR-CLIENTS
   neighbor 10.0.0.11 peer group RR-CLIENTS
   neighbor 10.0.0.12 peer group RR-CLIENTS
   neighbor 10.0.0.13 peer group RR-CLIENTS
   neighbor 10.0.0.14 peer group RR-CLIENTS
   neighbor 10.0.0.15 peer group RR-CLIENTS
   neighbor 10.0.0.16 peer group RR-CLIENTS
   neighbor 10.0.0.17 peer group RR-CLIENTS
   neighbor 10.0.0.18 peer group RR-CLIENTS
   neighbor 10.0.0.19 peer group RR-CLIENTS
   neighbor 10.0.0.20 peer group RR-CLIENTS
   neighbor 10.0.0.21 peer group RR-CLIENTS
   neighbor 10.0.0.22 peer group RR-CLIENTS
   neighbor 10.0.0.23 peer group RR-CLIENTS
   neighbor 10.0.0.24 peer group RR-CLIENTS
   neighbor 10.0.0.25 peer group RR-CLIENTS
   !
   address-family vpn-ipv4
      neighbor default encapsulation mpls next-hop-self source-interface Loopback0
      neighbor RR-CLIENTS activate
{% elif item.value.rr == 'no' %}
   neighbor RR remote-as 100
   neighbor RR update-source Loopback0
   neighbor RR send-community standard extended
   neighbor 10.0.0.1 peer group RR
   neighbor 10.0.0.2 peer group RR
   !
   address-family vpn-ipv4
      neighbor default encapsulation mpls next-hop-self source-interface Loopback0
      neighbor RR activate
{% endif %}
   !
   vrf DATA
      route-target import vpn-ipv4 100:100
      route-target export vpn-ipv4 100:100
      redistribute connected
      redistribute static
!


end